<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITLE -->
    <title>GC Studio</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">

    <!-- F. AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">

    <!-- ICON -->
    <link rel="shortcut icon" href="../img/logo_gc.png" type="image/x-icon">

    <!-- Scroll Reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

</head>

<body>
    <header id="header">
        <div class="logo">
            <img src="../img/logo_gc.png" alt="Logo GC">
            <hr>
            <a href="#inicio">GC Studio</a>
        </div>

        <nav class="navlist">
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#sobre-nos">Sobre Nós</a></li>
                <li><a href="#projeto">Projeto</a></li>
                <li><a href="#feedback">Feedback</a></li>
            </ul>
        </nav>

        <div class="hamburger-menu">
            <i class="fa fa-bars"></i>
        </div>

        <div class="mobile-nav">
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#sobre-nos">Sobre Nós</a></li>
                <li><a href="#projeto">Projeto</a></li>
                <li><a href="#feedback">Feedback</a></li>
            </ul>
        </div>

    </header>

    <main id="inicio">
          
            <div class="conteudo">
                <div class="textos">
                    <h1 class="title">Sejam bem-vindos à GC Studio<span>.</span></h1>

                    <p class="desc">O GC Studio é um grupo de estudantes da Etec de Ibitinga, unidos pelo amor aos jogos
                        e
                        pela vontade de criar. Eles se dedicam a desenvolver experiências interativas únicas, onde cada
                        jogo
                        é uma nova aventura. Com criatividade e colaboração, o grupo transformou a ideia em realidade,
                        trazendo histórias emocionantes e inovadoras para a tela.</p>
                </div>

                <a href="#projeto">
                    <button class="btn-download">
                        Conheça o projeto
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </a>

            </div>

    </main>

    <section class="sobre-nos" id="sobre-nos">

        <div class="flex" id="reveal-1"> <!-- Gabriel -->

            <div class="img-centro-mobile">
                <img src="../img/perfil_gabriel.jpg" alt="">
            </div>

            <div class="imagem-esq">
                <img src="../img/perfil_gabriel.jpg" alt="Imagem-1">
            </div>

            <div class="textos-sobre-nos">
                <h1>Gabriel Felipe da Silva</h1>

                <p>É responsável pelo desenvolvimento do jogo Vallirum, utilizando
                    a linguagem C# na plataforma Unity Engine. Para o seu futuro, pretende seguir na mesma área e
                    cursar Ciências da Computação na USP ou UFSCar como primeira e segunda opção, como terceira,
                    pretende cursar Fatec em Taquaritinga, no curso de ADS. Para a carreira, pretende seguir como
                    desenvolver Fullstack.
                </p>

                <div class="redes-sociais">
                    <a href="https://www.instagram.com/gabriel_felipe_silva_/" target="_blank"> <i
                            class="fa-brands fa-instagram"></i> </a>

                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>

                    <a href="https://github.com/GabrielS1101" target="_blank"> <i class="fa-brands fa-github"></i> </a>
                </div>
            </div>

        </div>

        <div class="flex" id="reveal-2"> <!-- Gustavo -->

            <div class="img-centro-mobile">
                <img src="../img/perfil_gustavo.jpg" alt="">
            </div>

            <div class="textos-sobre-nos">
                <h1>Gustavo Nori do Santos</h1>

                <p>Gustavo Nori do Santos, 17 anos. É responsável pela parte de desenvolvimento fullstack do site,
                    usando a linguagem JS e o banco de dados Postgres MySQL. Para o seu futuro, pretende cursar ADS
                    na Fatec de Taquaritinga, ou cursar Ciências da Computação em alguma faculdade federal. Para a
                    carreira, pretende seguir como desenvolver Fullstack.
                </p>

                <div class="redes-sociais">
                    <a href="https://www.instagram.com/gustavo_nori13/" target="_blank"> <i
                            class="fa-brands fa-instagram"></i> </a>

                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>

                    <a href="https://github.com/GustavoNori" target="_blank"> <i class="fa-brands fa-github"></i> </a>
                </div>
            </div>

            <div class="imagem-dir">
                <img src="../img/perfil_gustavo.jpg" alt="Imagem-2">
            </div>

        </div>

        <div class="flex" id="reveal-1"> <!-- Giovana -->

            <div class="img-centro-mobile">
                <img src="../img/perfil_nobre.jpg" alt="">
            </div>

            <div class="imagem-esq">
                <img src="../img/perfil_nobre.jpg" alt="Imagem-3">
            </div>

            <div class="textos-sobre-nos">
                <h1>Giovana Vitória Nobre do Nascimento</h1>

                <p>É responsável pela parte da documentação do TCC.
                    Para o seu futuro, pretende cursar Direito na UNESP ou USP. Para a carreira, pretende seguir
                    como Advogada.
                </p>

                <div class="redes-sociais">
                    <a href="https://www.instagram.com/_l.nobree/" target="_blank"> <i
                            class="fa-brands fa-instagram"></i> </a>

                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>

                    <a href="#"> <i class="fa-brands fa-github"></i> </a>
                </div>
            </div>

        </div>

        <div class="flex" id="reveal-2"> <!-- João P. -->

            <div class="img-centro-mobile">
                <img src="../img/perfil.png" alt="">
            </div>

            <div class="textos-sobre-nos">
                <h1>João Francisco Polezi</h1>

                <p>É responsável pela parte visual (HTML, CSS e Design) do site do
                    projeto. Para o seu futuro, pretende cursar Ciências da Computação em alguma faculdade federal
                    ou cursar ADS na Fatec de Taquaritinga. Para a carreira, pretende seguir como desenvolver
                    front-end.
                </p>

                <div class="redes-sociais">
                    <a href="https://www.instagram.com/joao.polezi/" target="_blank"> <i
                            class="fa-brands fa-instagram"></i> </a>

                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>

                    <a href="https://github.com/Jopolezi" target="_blank"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>

            <div class="imagem-dir">
                <img src="../img/perfil.png" alt="Imagem-4">
            </div>

        </div>

        <div class="flex" id="reveal-1"> <!-- Leonardo -->

            <div class="imagem-esq">
                <img src="../img/perfil_leo.jpg" alt="Imagem-3">
            </div>

            <div class="img-centro-mobile">
                <img src="../img/perfil_leo.jpg" alt="">
            </div>

            <div class="textos-sobre-nos">
                <h1>Leonardo Amato Sander Silva</h1>

                <p>É o responsável pela gestão do projeto, coordena o
                    desenvolvimento do TCC e também o design do mapa do jogo. Também auxilia o Gabriel no
                    desenvolvimento do jogo. Para o seu futuro, pretende cursar ADS
                    na Fatec de Taquaritinga. Para a carreira, pretende seguir como Analista de Dados.
                </p>

                <div class="redes-sociais">
                    <a href="https://www.instagram.com/lleosander/" target="_blank"> <i
                            class="fa-brands fa-instagram"></i> </a>

                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>

                    <a href="#"> <i class="fa-brands fa-github"></i> </a>
                </div>
            </div>

        </div>

        <div class="flex" id="reveal-2"> <!-- Valentino -->

            <div class="img-centro-mobile">
                <img src="../img/perfil_vale.jpg" alt="">
            </div>

            <div class="textos-sobre-nos">
                <h1>Valentino Amato Sander Silva</h1>

                <p>É responsável pela parte ilustrativa do TCC, sendo o
                    principal criador de artes do jogo e do projeto. Além de auxiliar no desenvolvimento de enredo. Para
                    o seu futuro, pretende cursar ADS na Fatec
                    de Taquaritinga. Para a carreira, pretende seguir como Analista de Dados.
                </p>

                <div class="redes-sociais">
                    <a href="https://www.instagram.com/valentinosander7/" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a>

                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>

                    <a href="#"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>

            <div class="imagem-dir">
                <img src="../img/perfil_vale.jpg" alt="Imagem-4">
            </div>

        </div>
        </div>

    </section>

    <section class="projeto" id="projeto"> 

        <div id="card">


            <div class="content-card">
                <div class="text-card">
                    <div class="text-separate">
                        <h1>A criação de Vallirum</h1>
    
                        <p>O desenvolvilmento de Vallirum começou com uma ideia simples: criar um mundo medieval cheio de
                            mistério, aventura e fantasia. O jogo foi projetado para transportar os jogadores para um
                            universo onde eles podem explorar reinos perdidos, enfrentar criaturas míticas e participar de
                            uma narrativa rica e envolvente. Desde a concepção dos personagens até o design dos cenários,
                            cada detalhe foi pensado para oferecer uma experiência imersiva e cativante.</p>
                    </div>
    
                    <div class="text-separate">
                        <h1>Mecânicas de Jogo</h1>
    
                        <p>Vallirum se destaca pela sua jogabilidade desafiadora e equilibrada. Com mecânicas que misturam
                            elementos de estratégia, combate em tempo real e resolução de puzzles, os jogadores são
                            convidados a explorar o vasto mundo medieval enquanto tomam decisões que impactam diretamente o
                            desenrolar da história. O sistema de combate foi projetado para ser dinâmico e envolvente, com
                            ênfase no uso inteligente de habilidades e recursos disponíveis.</p>
                    </div>
    
                    <div class="text-separate">
                        <h1>Arte e Estética</h1>
    
                        <p>A estética de Vallirum é uma das suas características mais marcantes. Inspirada no período
                            medieval e em mitologias antigas, a arte do jogo utiliza uma paleta de cores vibrantes e
                            contrastantes, dando vida a castelos imponentes, florestas sombrias e cidades encantadas. Cada
                            ambiente foi cuidadosamente projetado para proporcionar aos jogadores uma sensação de imersão
                            completa, desde os detalhes dos trajes dos personagens até os efeitos visuais das magias.</p>
                    </div>
    
                    <div class="text-separate">
                        <h1>A Jornada</h1>
    
                        <p>Em Vallirum, a narrativa é um dos pilares centrais da experiência do jogador. A trama segue a
                            jornada de heróis em um mundo à beira do colapso, onde escolhas morais e alianças podem mudar o
                            curso da história. Com personagens complexos e bem desenvolvidos, a narrativa de Vallirum
                            desafia os jogadores a refletirem sobre questões de poder, sacrifício e sobrevivência em um
                            universo que mistura fantasia e realidade de maneira intrincada.</p>
                    </div>
                </div>

                <div class="btn-download">
                    <a href="../executavel/Jogo/Jogo/" id="download-link" download>
                        <button id="download-btn">Faça o Download</button>
                    </a>
                    <p id="not-available-message" style="display: none;">
                        Download não disponível nesta plataforma. <i class="fa-solid fa-circle-exclamation"></i>
                    </p>
                </div>
            </div>

            <div class="img-card">
                
            </div>
                
        </div>

    </section>


    <section class="feedback" id="feedback">

        <div id="card-feedback">
            <div class="img-card-feedback">    

            </div>

            <div class="content-card-feedback">
                <div class="text-card-feedback">
                    <h1>Sistema <span>de avaliação</span>.</h1>

                    <p>Caso tenha gostado do projeto, avalie-o de 0 à 5 estrelas</p>
                </div>

                <div class="estrelas-vazias">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                </div>

                <div class="btn-enviar-feedback">
                    <a href="#">
                        <button>Envie a sua nota</button>
                    </a>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <div class="content-footer">
            <div class="titulo-footer">
                <h1>GC Studio © 2024</h1>

                <p>O fim da página, <span>mas o começo de grandes ideias!</span></p>
            </div>

            <div class="contato-footer">
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <hr>
                <p>vallirum@gmail.com</p>
            </div>
        </div>
    </footer>

    <script src="../js/script.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>

</body>

</html>