<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar-se</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../css/registro.css">
    <!-- Ícone do Site-->
    <link rel="shortcut icon" href="../img/logo_gc.png" type="image/x-icon">
    <!-- Icons -->
    <link rel="stylesheet" href="../css/fontawesome/css/all.min.css">
</head>

<body>
    <div class="card">
        
        <div class="btn-voltar">

            <a href="login.html"><i class="fa-solid fa-left-long"></i></a>

        </div>

        <div class="text-register">

            <h1>Registrar-se</h1>

        </div>
        <form id="RegisterForm" action="">

            <input type="text" id="nomeId" class="required" placeholder="Nome">
            <span class="escondido">O nome precisa ter no mínimo 3 letras.</span>
            <span id="UserR" class="escondido2">Já Existe um Usuário com este Nome!</span>

            <input type="email" id="emailId" class="required" placeholder="Email">
            <span class="escondido">O email precisa ser compatível.</span>
            <span id="EmailR" class="escondido2">Já Existe um Usuário com este Email!</span>

            <input type="password" id="senhaId" class="required" placeholder="Senha">
            <span class="escondido">A senha deve ter entre 6 e 12 dígitos. Contendo números e ao menos uma letra maiúscula</span>

            <input type="password" id="rSenhaId" class="required" placeholder="Repetir Senha">
            <span class="escondido">As senhas precisam ser iguais.</span>

            <input class="btn-register" type="submit" id="regis" value="Registrar">

            <div class="remember-login">
                <p>Já tem uma conta? <a href="login.html">Entre aqui!</a></p>
            </div>

        </form>

        <script src="../js/registro.js"></script>

    </div>
</body>

</html>
