@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.escondido{
    color: #ff000f;
     font-size: 12px;
     margin-top: 2px;
     display: none;
     text-align: center;
 }
 
html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background: url(../img/pixel2.gif);
    backdrop-filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

*{
    text-decoration: none;
    list-style: none;
}

:root{
    --color: #fff;
    --color-card: #272727;
    --color-btn-card: #461e78;
}


/* --- */

.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 420px;
    border: 5px solid var(--color-btn-card);
    border-radius: 10px;
    background: var(--color-card);
    box-shadow: rgba(0, 0, 0, 0.449) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.285) 0px 18px 36px -18px inset;
}


.btn-voltar a{
    display: inline-block;
    position: absolute;
    background: var(--color-btn-card);
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.55s ease;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}

.btn-voltar a:hover {
    transform: scale(1.1);
}

.card .text-register {
    color: var(--color);
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 0px;  
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px 35px;
    margin: 20px 0px 0px 0px;
    border: 3px solid var(--color-btn-card);
    border-radius: 10px;
    background: var(--color-card);
    box-shadow: rgba(0, 0, 0, 0.449) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.285) 0px 18px 36px -18px inset;
    color: var(--color);
}

.btn{
    position: absolute;
    bottom: 80px;
    padding: 10px 35px;
    margin: 20px 0px 0px 0px;
    border: 3px solid var(--color-btn-card);
    border-radius: 10px;
    background: var(--color-card);
    box-shadow: rgba(0, 0, 0, 0.449) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.285) 0px 18px 36px -18px inset;
    color: var(--color);
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    transition: all 0.55s ease;
}

.btn:hover{
    transform: scale(1.1);
}



.input-box i{
    color: var(--color-btn-card);
    align-items: center;
    justify-content: center;
    position: relative;
    left: 5px;
}

.register-link {
    display: flex;
    position: absolute;
    bottom: 0px;
}

.register-link p{
    color: var(--color);
    font-size: 14px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.register-link a{
    color: var(--color-btn-card);
    font-weight: 700;
    text-decoration: underline 2px;
}



