*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
  }

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background: url(../img/pixel2.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	backdrop-filter: blur(2px);

	color: #fff;
}

@import url(https://db.onlinewebfonts.com/c/e7add10b4df03aa3a185e193221d8900?family=Kairos+Sans+W06+Cond+Medium);

.cabecalho{
    height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;

}

.cabecalho hr{
    width: 100vw;
    margin: 10px;
    border-color: white;
    color: white;
}

.head .navbar-tools {
	display: flex;
	gap: 30px;
	font-size: 20px;
	font-family: "Kairos Sans W06 Cond Medium";

}

.head .navbar-tools li a {
	color: #fff;
	transition: all 0.5s ease-in;
	font-weight: 700;
	letter-spacing: 3px;
	position: relative;
    text-transform: uppercase;

	transition: all 0.5s ease-in-out;

}

.head .navbar-tools li a:after {
	content: "";
	width: 0%;
	height: 2px;
	bottom: 0;
	left: 0;
	position: absolute;
	background-color: #fff;
	transition: all 0.5s ease-in-out;

}

.head .navbar-tools li a:hover:after {
	width: 95%;
	background-color: #fff;

}

/* Main */
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	
	min-height: 100vh;
	width: 100%;
}

.main .gradient-main {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main .content-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
}


.main .content-main p{
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-family: "Kairos Sans W06 Cond Medium";
	text-transform: uppercase;
	cursor: default;
	letter-spacing: 8px;
}

.main .content-main p a{
    color: rgb(170, 170, 170);
	transition: all 0.5s ease-in-out;
}




/*FAQ*/
.faq{
	width: 100vw;
	height: 100vh;
}

.contato{
    width: 100vw;
    height: 100vh;
}
